@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root{
    --transition: all 300ms ease-in-out;
    --dark-color: #332e29;
    --light-color: #fff;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: 0;
}
html{
    font-size: 10px;
    scroll-behavior: smooth;
}
body{
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
}

button, .btn{
    cursor: pointer;
    border: none;
    background: transparent;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: var(--dark-color);
}
img{
    width: 100%;
    display: block;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}
.vh-100{
    min-height: 100vh;
}
h1, h2, h3{
    margin-top: 0;
    line-height: 1.3;
    margin-bottom: 2rem;
    color: var(--dark-color);
}
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.py-7{
    padding: 7rem 0;
}
.grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
}
.lead{
    opacity: 0.8;
    padding: 1rem 0;
    font-size: 1.7rem;
    font-weight: 300;
    line-height: 1.8;
}

/* header */
#header{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url('../images/header-banner.jpg') center/cover no-repeat fixed;
    justify-content: flex-start;
    align-items: flex-end;
}
#header .container{
    width: 100%;
}
.header-content{
    padding-bottom: 4rem;
}
.header-content h1{
    font-size: 4.5rem;
    margin-bottom: 0;
    text-transform: uppercase;
    color: var(--light-color);
}
.header-content h3{
    color: var(--light-color);
    font-weight: 300;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-top: 1.5rem;
}
.social-links{
    display: flex;
    margin-top: 3.5rem;
}
.social-links li a{
    width: 40px;
    height: 40px;
    background-color: var(--light-color);
    margin-right: 1rem;
    border-radius: .3rem;
    box-shadow: 0 0 6px 5px rgba(0, 0, 0, 0.2);
    transition: var(--transition);
}
.social-links li a:hover{
    opacity: 0.9;
}

/* about */
.about-left{
    margin-bottom: 4rem;
    height: 480px;
    overflow: hidden;
}
/* button down and title -reusable */
.btn-down{
    font-size: 3rem;
    display: inline-block;
    margin-top: 1rem;
    transition: var(--transition);
}
.btn-down:hover{
    opacity: 0.8;
    transform: translateY(5px);
}
.btn-down-white{
    color: var(--light-color);
}
.title{
    margin-bottom: 5rem;
}
.title h2{
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 600;
    position: relative;
}
.title h2::after{
    position: absolute;
    content: "";
    top: 120%;
    left: 0;
    width: 70px;
    height: 4px;
    background-color: var(--dark-color);
}

/* work */
#work{
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 1)), url('../images/') center/cover no-repeat fixed;
    color: var(--light-color);
}
#work .title h2, #work h3{
    color: var(--light-color);
}
#work .title h2::after{
    background: var(--light-color);
}
.work-bottom{
    margin-top: 2rem;
    text-align: center;
}
.work-bottom > div .icon img{
    width: 30px;
    margin: 0 auto 1rem auto;
}

/* portfolio */
.portfolio-grid > div{
    transition: var(--transition);
}
.portfolio-grid > div:hover{
    transform: scale(0.5);
}
